<div class="container">
  <div class="content">
    <div class="content__left">
      <h1 class="content__left__title">Playlist Converter</h1>

      <h1 class="content__left__subtitle">Your Music, Everywhere</h1>

      <p class="content__left__description">
        Transform your favorite Spotify playlists into YouTube videos and vice
        versa, keeping your music always within reach on any platform. Simple,
        fast, and intuitive.
      </p>

      <button (click)="getStarted()" class="get_started_btn">
        Get started
      </button>
    </div>

    <div class="content__right">
      <img src="/images/headphone.png" alt="Playlist Converter" />
    </div>
  </div>
</div>
